* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex-header-top {
 display: flex;
 height: 60px;
 background-color: rgb(28, 231, 235);
 justify-content: center;
 align-items: center;
}

.flex-menu{
    display: flex;
    color: rgb(0, 0, 0);
    width: 60%;
    padding: 10px;
    background-color: yellow;
    justify-content: space-between;
    border-style: dotted;
}    

.item-1{
    width: 20%;
    border-style: dotted;
}
.item-2{
    width: 20%;
    border-style: dotted
}
.flex-header-bot{
    display: flex;
    height: 400px;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.flex-header-container{
    display: flex;
    height: 300px;
    width: 40%;
    background-color: pink;

}