* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex-header-top {
 display: flex;
 height: 60px;
 background-color: rgb(28, 231, 235);
 justify-content: center;
 align-items: center;
}

.flex-menu{
    display: flex;
    color: rgb(0, 0, 0);
    width: 60%;
    padding: 10px;
    background-color: yellow;
    justify-content: space-between;
    border-style: dotted;
}    

.item-1{
    width: 20%;
    
}
.item-2{
    width: 20%;
   
}
.flex-header-bot{
    display: flex;
    height: 400px;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.flex-header-container{
    display: flex;
    height: 300px;
    width: 40%;
    background-color: pink;
    border-style: dotted;

}


.flex-main-div1{
    display: flex;
    height: 500px;
    background-color: white;
    align-items: center;
    justify-content: center;
}


.flex-container1{
    display: flex;
    height: 400px;
    border-style: dotted;
    width: 60%;
    flex-wrap: wrap;
    margin: 25px;
}

.flex-main-div2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.bluediv{
        background-color: blue;
        width: 60%;
        height: 100%;
}

.pinkdiv{
    background-color: rgb(253, 46, 247);
        width: 40%;
        height: 100%;
}

.bluedivspc{
    background-color: rgb(255, 0, 230);
    width: 40%;
    height: 100%;
}

.pinkdivspc{
background-color: rgb(47, 0, 255);
    width: 60%;
    height: 100%;
}

.flex-main-divbot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.flex-containerbot{
    display: flex;
    height: 800px;
    border-style: dotted;
    width: 60%;
    flex-wrap: wrap;
    margin: 25px;
    background-color: green;
}

.flex-footerbot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 34, 34);
}
.flex-containerfooter{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 60%;
    background-color: aquamarine;
    margin: 15px;
}
.internaldiv1{
    width: 40%;
    height: 400px;
    background-color: rgb(255, 133, 127);
    border-style: dotted;
}
.internaldiv{
    width: calc(60% / 4);
    height: 400px;
    background-color: rgb(127, 249, 255);
    border-style: dotted;
}

.flex-footer-bot {
    display: flex;
    height: 100px;
    background-color: rgb(35, 34, 34);
    justify-content: center;
    align-items: end;
   }

   .flex-footer-menu{
    display: flex;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 60%;
    background-color: rgb(0, 255, 191);
    justify-content: space-between;
    border-style: dotted;
}    

.item{
    width: 5%;
    border-style: dotted;
    background-color: pink;
}